<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminLoginVerifyServlet</servlet-name>
  	<servlet-class>servlet.AdminLoginVerifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginVerifyServlet</servlet-name>
  	<url-pattern>/admin/login-verify</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminMainServlet</servlet-name>
  	<servlet-class>servlet.AdminMainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminMainServlet</servlet-name>
  	<url-pattern>/admin/main</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminLoginOutServlet</servlet-name>
  	<servlet-class>servlet.AdminLoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLoginOutServlet</servlet-name>
  	<url-pattern>/admin/login-out</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminBusinessListServlet</servlet-name>
  	<servlet-class>servlet.AdminBusinessListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminBusinessListServlet</servlet-name>
  	<url-pattern>/admin/business-list</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminBusinessDeleteServlet</servlet-name>
  	<servlet-class>servlet.AdminBusinessDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminBusinessDeleteServlet</servlet-name>
  	<url-pattern>/admin/business-delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AdminUserListServlet</servlet-name>
  	<servlet-class>servlet.AdminUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminUserListServlet</servlet-name>
  	<url-pattern>/admin/user-list</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminUserDeleteServlet</servlet-name>
  	<servlet-class>servlet.AdminUserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminUserDeleteServlet</servlet-name>
  	<url-pattern>/admin/user-delete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminUserDetailServlet</servlet-name>
  	<servlet-class>servlet.AdminUserDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminUserDetailServlet</servlet-name>
  	<url-pattern>/admin/user-detail</url-pattern>
  </servlet-mapping>
  
  
  
  
  <filter>  
    <filter-name>AdminLoginFilter</filter-name>  
    <filter-class>filter.AdminLoginFilter</filter-class>  
    </filter>  
    <filter-mapping>  
    <filter-name>AdminLoginFilter</filter-name>  
    <url-pattern>/admin/*</url-pattern>  
  </filter-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>